ENV=local
NODE_ENV=local
GOOGLE_OAUTH_SECRET=
REDDIT_OAUTH_SECRET=
PORT=5001
JWT_SECRET=
MQTT_URL=mqtt://emqx:1883
MQTT_USERNAME=nodice
MQTT_PASSWORD=
POSTGRES_PASSWORD=
PGPORT=5432
PGHOST=postgres
PGUSER=bgrosse
PGDATABASE=nodice
API_ROOT=/
VAPID_URL=http://nginx
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

BOT_TOKEN=
BOT_GAME=QueDiceTest
BOT_OFFICIAL_GROUPS=""
AVATAR_PATH=/avatars

PICTURE_URL_PREFIX=/pictures/
E2E=1

EMQX_DASHBOARD_PASSWORD=

AWS_KEY=
AWS_SECRET=

