@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500|Roboto+Mono|Roboto+Condensed:400,700&subset=latin,latin-ext";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./css/material.min.css";


.Main {
}
@keyframes scroll { 100% { background-position: 100% 100%; } }
.Main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0;
}

body.navigator-standalone {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
body.navigator-standalone input,
body.navigator-standalone textarea {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

@media (min-width: 800px) and (max-width: 1100px) {
  .Main {
    padding: 0 calc(
      10px +
      100 *
      (100vw - 800px) / (1100 - 800)
    );
  }
}
@media (min-width: 1100px) {
  .Main {
    padding: 0 100px;
  }
}
.GLOBAL_ERROR {
  background-color: #ffcccc;
  padding: 2em;
  font-weight: bold;
  white-space: pre;
}

.edBoard {
  margin-top: 10px;
}
.edBoard--svg {
  font-size: 33%;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.edBoard--svg g {
  cursor: pointer;
}
.edBoard--svg g > text {
  pointer-events: none;
}
.edBoard--emoji {
  font-size: 33%;
  transform: skewY(15deg);
}
.edBoard--dies {
  pointer-events: none;
  fill: currentColor;
  /*transform: translate(-0.25vw, -0.25vw);*/
}
.edLand {
  stroke: #222;
}


.edGame { }
.edGameHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.edGameHeader__tableStatus {
}
.edGameHeader__buttons {
}

.edGameHeader__chip {
  padding-top: 4px;
}
.edGameHeader__chip--strong {
  font-weight: bold;
}
.edGameHeader__button {
  height: 20px;
  line-height: 20px;
  margin: 4px 8px;
}

.edPlayerChips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  margin-bottom: 10px;
}
.edPlayerChip {
  width: 70px;
  padding: 10px;
  margin-left: 4px;
}
.edPlayerChip:first-child {
  margin-left: 0;
}
.edPlayerChip__progress {
  height: 2px;
  background-color: darkred;
}
.edPlayerChip__progress--0, 
.edPlayerChip__progress--10, 
.edPlayerChip__progress--20,
.edPlayerChip__progress--30,
.edPlayerChip__progress--40 {
  background-color: red;
}

.edPlayerChip__picture {
  width: 70px;
  height: 70px;
  position: relative;
}
.edPlayerChip__picture__image {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  white-space: nowrap;
  display: inline-block;
  content: '';
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
}
.edPlayerChip__name {
  margin: 4px 0;
}
.edPlayerChip__colorTag {
  height: 6px;
}
.edPlayerChip__gameStats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.edPlayerChip_clock {
}
.edGameList {
  background-color: transparent;
}

.edGameList__item {
  color: #ccc;
}

.edGameList__item__subtitle, .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title.edGameList__item__subtitle {
  color: #aaa;
}

.edGameStatus {
  display: flex;
  align-items: center;
}
.edGameStatus > div {
  padding-left: 10px;
}
.edGameStatus > div:first-child {
  padding-left: 0;
}

.header .header--profile-link {
  height: 100%;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.header .header--profile-link img {
  flex: 0 0 auto;
  display: block;
  max-height: 80%;
  border-radius: 50%;
  margin-left: 16px;
}

.edGame__meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gamelogContainer {
  position: relative;
  pointer-events: none;
}
.gamelog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
}
.chatbox--line--turn, .chatbox--line--roll {
  animation: fadeOut 20s linear 1;
  animation-fill-mode: forwards;
  /*border-top: 1px dashed #ccc;*/
}
@keyframes fadeOut {
  80% { opacity: 1; }
  90% { opacity: 0.9; }
  100% { opacity: 0; }
}

.chatboxContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.chatbox {
  height: 200px;
  display: flex;
}
.chatbox--log {
  background-color: white;
  flex: 100 1 auto;
  overflow: auto;
  overflow-y: scroll;
  padding: 8px;
  font-size: 12px;
}
.chatbox--actions {
  flex: 1 0 auto;
  padding: 0 8px;
}
.chatbox--actions-form {
  display: flex;
}
.chatbox--actions-input {
  padding: 0;
  width: auto;
  flex: 2 0 auto;
}
.chatbox--actions-input .mdl-textfield__label:after {
  bottom: 8px;
}
.chatbox--actions-button {
    padding: 0;
    min-width: auto;
}
.chatbox--line--chat {}
.chatbox--line--join {
  color: #666;
}
.chatbox--line--error {
  color: #a00;
}
.chatbox__tag__player {
  text-shadow: #fff 0 0 4px;
}
