/*@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500|Roboto+Mono|Roboto+Condensed:400,700&subset=latin,latin-ext";*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./css/material.min.css";
@import "./css/material-theme.css";

body {
  font-family: 'Rubik', sans-serif;
}


.mdl-layout__content {
  display: flex;
  flex-direction: column;
}
.mdl-mini-footer {
  flex: 0 0 auto;
}
.Main {
  background-color: #333;
  flex: 1 0 auto;
  padding: 0 0;
  display: flex;
  flex-direction: column;
}
.MainBody {
  flex: 2 1 auto;
  color: rgb(240, 240, 240);
  padding: 20px 8%;
}
.MainBody img {
  max-width: 100%;
}


body.navigator-standalone {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
body.navigator-standalone input,
body.navigator-standalone textarea {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

/*@media (min-width: 800px) and (max-width: 1100px) {
}*/
@media (min-width: 1100px) {
  /*.Main {*/
    /*padding: 0 100px;*/
  /*}*/
}
.mdl-layout__drawer-button {
  color: rgba(255,255,255,.5);
  margin: 4px;
}


.GLOBAL_ERROR {
  background-color: #ffcccc;
  padding: 2em;
  font-weight: bold;
  white-space: pre;
}

.edDrawer__login {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edDrawer__login__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.edBoard {
}
.edBoard--svg {
  font-size: 33%;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.edBoard--svg g {
  cursor: pointer;
}
.edBoard--svg g > text {
  pointer-events: none;
}
.edBoard--emoji {
  font-size: 33%;
  transform: skewY(15deg);
}
.edBoard--dies {
  pointer-events: none;
  fill: currentColor;
  /*transform: translate(-0.25vw, -0.25vw);*/
}
.edLand {
  stroke: #222;
}


.edGame {
  display: flex;
  flex-direction: column;
}
.edGameHeader {
  box-shadow: 0 -10px 10px black;
  color: #fff;
}
.edGameHeader__content {
  height: 38px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 48px;
  background: #ff3c58;
}
.edGameHeader__decoration {
  height: 10px;
  background: url('board_header.svg');
  background-repeat: repeat-x;
  background-position: left bottom;
}
.edGameHeader__tableStatus {
}

.edGameHeader__chip {
  padding-top: 4px;
}
.edGameHeader__chip--strong {
  font-weight: bold;
}
.edGameHeader__button {
  height: 20px;
  line-height: 20px;
  margin: 4px 8px;
  flex: 0 0 auto;
}

.edPlayerChips {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.edPlayerChip {
  width: 70px;
  margin-right: 4px;
  margin-bottom: 5px;
  background: #fff;
  transition: transform 0.25s ease;
}
.edPlayerChip__progress {
  height: 2px;
  background-color: darkred;
}
.edPlayerChip__picture {
  /*max-width: 70px;*/
  /*max-height: 70px;*/
  position: relative;
}
.edPlayerChip__picture__image {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border: none;
  border-radius: 50%;
  white-space: nowrap;
  display: inline-block;
  content: '';
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edPlayerChip__name {
  width: 100%;
  height: 20px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edPlayerChip__name:hover {
  text-overflow: initial;
}
.edPlayerChip__colorTag {
  height: 6px;
}
.edPlayerChip__gameStats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 4px;
}
.edPlayerChip_clock {
}

.edPlayerChip--out .edPlayerChip__picture__image {
  filter: grayscale(100%);
}
.edPlayerChip--out .edPlayerChip__picture__image:after {
  display: block;
  color: white;
  background: black;
  content: 'OUT';
}

.edPlayerChip--turn {
  transform: translateY(-10px);
}


.edGameList {
  background-color: transparent;
}

.edGameList__item {
  color: #ccc;
}

.edGameList__item__subtitle, .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title.edGameList__item__subtitle {
  color: #aaa;
}

.edGameStatus {
  display: flex;
  align-items: center;
}
.edGameStatus > div {
  padding-left: 10px;
}
.edGameStatus > div:first-child {
  padding-left: 0;
}

.header .header--profile-link {
  height: 100%;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.header .header--profile-link img {
  flex: 0 0 auto;
  display: block;
  max-height: 80%;
  border-radius: 50%;
  margin-left: 16px;
}

.edGame__meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.edGame__meta2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.edGame__SitInModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0,0,0,0.5);
}
.edGame__SitInModal > button {
  transform: scale(2);
}
.edGameBoardWrapper {
  position: relative;
}

.gamelogContainer {
  flex: 2 1 auto;
  height: 162px;
  padding: 8px;
  margin-bottom: 5px;
  overflow-y: auto;
  font-size: 12px;
  background: #ff3c58;
}
.gamelog {
  background-color: inherit;
}
.chatbox--line--turn, .chatbox--line--roll {
}

.edGame__user {
  flex: 1 1 auto;
  background: #fff;
  margin-bottom: 5px;
  margin-left: 4px;
  padding: 8px;
  background: rgb(240, 240, 240);
}

.chatboxContainer {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  min-width: 300px;
  max-width: 420px;
  margin-bottom: 5px;
}
.chatbox {
  height: 200px;
  width: 100%;
  display: flex;
}
.chatbox--log {
  background-color: white;
  flex: 100 1 auto;
  overflow: auto;
  overflow-y: scroll;
  padding: 8px;
  font-size: 12px;
}
.chatbox--actions {
  flex: 1 0 auto;
  padding: 0 8px;
}
.chatbox--actions-form {
  display: flex;
}
.chatbox--actions-input {
  padding: 0;
  width: auto;
  flex: 2 0 auto;
}
.chatbox--actions-input .mdl-textfield__label:after {
  bottom: 8px;
}
.chatbox--actions-button {
    padding: 0;
    min-width: auto;
}
.chatbox--line--chat {}
.chatbox--line--join {
  color: #666;
}
.chatbox--line--error {
  color: #a00;
}

.footer--profile-link {
  height: 50px;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #9e9e9e;
}
.footer--profile-link img {
  flex: 0 0 auto;
  display: block;
  max-height: 80%;
  border-radius: 50%;
  margin-left: 16px;
}

.edGameTable {
  width: 100%;
  background: #fff;
  margin-bottom: 5px;
}
.edGameTable th {
  text-align: left;
}
.edGameTable td {
  cursor: pointer;
}
.edGameTable tbody tr:hover {
  background: #eee;
}

.edLoginBackdrop {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 998;
}
.edLoginDialog {
  position: fixed;
  top: 64px;
  right: 0;
  left: 0;
  z-index: 999;
  background: white;
  width: 250px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 50px #000;
}
.edLoginDialog__social {
  padding-bottom: 40px;
  border-bottom: 1px dotted #888;
}
.edLoginDialog__register {
  padding-top: 40px;
  padding-bottom: 0;
}
.edLoginSocial {
  padding-left: 0;
  width: 100%;
}
.edLoginSocial > img {
  height: 100%;
  float: left;
  margin-right: 5px;
}
.edLoginDialog__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edEditor textarea {
  width: 100%;
}


@media (min-width: 896px) {
  .edMainScreen {
    width: 800px;
    margin: 0 auto;
  }
  .edGameHeader {
    width: 800px;
    margin: 0 auto;
    padding-left: 0;
  }
}
@media (min-width: 1000px) {
  .edMainScreen, .edGameHeader {
    width: 900px;
  }
}
@media (min-width: 1100px) {
  .edMainScreen, .edGameHeader {
    width: 1000px;
  }
}
@media (min-width: 1800px) {
  .edMainScreen, .edGameHeader {
    width: 1700px;
  }
}

